<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Python Flask" alt=""></td>
        <td><a href="{{site.baseurl}}/python/flask/crash-course">Anatomy</a></td>
        <td><a href="{{site.baseurl}}/python/flask/api/basics/error-handling">Error Handling</a></td>
        <td><a href="{{site.baseurl}}/api-basics/lesson/intro-extended">API Intro</a></td>
        <td><a href="{{site.baseurl}}/api-basics/lesson/async">Async</a></td>
        <td><a href="{{site.baseurl}}/api-basics/lesson/handling-data">Handling Data</a></td>
    </tr>
</table>
